---
const { listItems } = Astro.props
---

<ul class="ms-0">
  {
    listItems.map((item) => (
      <li class="border-b border-accent-primary py-1 flex items-center">
        <div class="flex justify-between items-center min-w-32 me-10">
          <span>{item.title} </span>
          <span class="text-xs">{item.launchYear}</span>
        </div>

        <span class="text-sm hidden md:inline me-auto">
          {item.tagLine}
        </span>
        <a
          href={`/portfolio/${item.slug.current}`}
          class="text-sm ms-auto md:hover:text-accent-primary "
        >
          {item.linkLabel}
        </a>
      </li>
    ))
  }
</ul>
