---
interface AllProjectsList {
  title: string;
  launchYear: string;
  tagLine: string;
  linkLabel: string;
  slug: string;
}

interface Props {
  listItems: AllProjectsList[];
}
const { listItems } = Astro.props as Props;
---

<ul class="list-container">
  {
    listItems.map((item) => (
      <li>
        <span>
          {item.title}
          <span class="text-xs ml-3">{item.launchYear}</span>
        </span>
        <span class=" hidden md:inline">{item.tagLine}</span>
        <a href={`/portfolio/${item.slug.current}`} class="">
          {item.linkLabel}
        </a>
      </li>
    ))
  }
</ul>
