---
interface AllProjectsList {
  title: string;
  launchYear: string;
  tagLine: string;
  linkLabel: string;
  slug: string;
}

interface Props {
  listItems: AllProjectsList[];
}
const { listItems } = Astro.props as Props;
---

<ul>
  {
    listItems.map((item) => (
      <li class="border-b border-accent-primary py-1 flex items-center justify-between">
        <div class="flex justify-between items-center min-w-32">
          <span>{item.title} </span>
          <span class="text-xs">{item.launchYear}</span>
        </div>

        <span class="text-sm opacity-60 hidden md:inline">{item.tagLine}</span>
        <a
          href={`/portfolio/${item.slug.current}`}
          class="text-sm md:hover:text-accent-primary"
        >
          {item.linkLabel}
        </a>
      </li>
    ))
  }
</ul>
