---
import PortfolioCard from "./PortfolioCard";
import { urlFor } from "../sanity/lib/image";
import AllProjectsList from "./AllProjectsList.astro";

const { allProjects, ...props } = Astro.props;
---

<section class="space-y-4" {...props}>
  <h2 class="">Projects</h2>
  <div class="space-y-14 md:space-y-20">
    {
      allProjects.map((item) => (
        <PortfolioCard
          cardHeading={item.title}
          cardBody={item.cardDescription}
          cardImage={urlFor(item.mainImage)}
          cardImageAlt={item.mainImage.alt}
          projectSlug={item.slug.current}
        />
      ))
    }
  </div>
</section>
<section class="space-y-4">
  <h2>More projects</h2>
  <AllProjectsList listItems={allProjects} />
</section>
