---
import PortfolioCard from "./PortfolioCard.astro";
import PortfolioList from "./PortfolioList.astro";
import { urlFor } from "../sanity/lib/image";
import AllProjectsList from "./AllProjectsList.astro";

const { allProjects } = Astro.props;
---

<section class="">
  <h2 class="">Portfolio</h2>
  <div class="space-y-20">
    {
      allProjects
        .map((item) => (
          <PortfolioCard
            cardHeading={item.title}
            cardBody={item.projectOverview.body}
            cardImage={urlFor(item.mainImage)}
            cardImageAlt={item.mainImage.alt}
            cardList={item.projectOverview.techStack}
            projectSlug={item.slug.current}
          />
        ))
    }
  </div>
  <div class="space-y-4">
    <h3 class="text-2xl sm:text-3xl">More projects</h3>
    <AllProjectsList listItems={allProjects} />
  </div>
</section>
