---
import ButtonPrimary from "./ButtonPrimary.astro";
import MyPortableText from "./portable-text/MyPortableText.astro";
import TwoItemsList from "./TwoItemsList.astro";

const {
  cardHeading,
  cardBody,
  cardImage,
  cardImageAlt,
  cardList,
  projectSlug,
} = Astro.props;
---

<div class="flex flex-col-reverse gap-5 overflow-hidden">
  <div class="w-full my-auto space-y-2">
    <h3>{cardHeading}</h3>
    <MyPortableText content={cardBody} />
    <!-- <TwoItemsList listItems={cardList} /> -->

    <ButtonPrimary buttonText="view" buttonHref={`/portfolio/${projectSlug}`} />
  </div>
  <div class="w-full">
    <img
      src={cardImage}
      alt={cardImageAlt}
      class="object-contain w-full h-full"
    />
  </div>
</div>
