---
import PortfolioCard from "./PortfolioCard";
import { urlFor } from "../sanity/lib/image";
import AllProjectsList from "./AllProjectsList.astro";

const { allProjects, ...props } = Astro.props;
---

<section class="space-y-4" {...props}>
  <h2 class="">Projects</h2>
  <div class="flex flex-col gap-14 md:gap-20">
    <!-- Add key -->
    {
      allProjects.map((item) => (
        <PortfolioCard
          client:idle
          videoSrc={item.mainVideo}
          cardHeading={item.title}
          cardBody={item.cardDescription}
          cardImage={item.mainImage}
          cardImageAlt={item.mainImage.alt}
          projectSlug={item.slug.current}
        />
      ))
    }
  </div>
</section>
<section class="space-y-4">
  <h2>More projects</h2>
  <AllProjectsList listItems={allProjects} />
</section>
