---
const { seo } = Astro.props;
const siteUrl = "https://bessa.dev";
const seoData = {
  title: seo.title || "Front-end Developer | Ronald Bessa",
  description: seo.description || "Front-end Developer | Ronald Bessa",
  imageLg: seo.imageLg || `${siteUrl}/images/default-og-image.png`, // Provide a clear fallback
  imageSm: seo.imageSm || `${siteUrl}/images/default-ogsm-image.png`,
  slug: seo.slug === undefined ? "" : seo.slug || "",
  siteUrl: siteUrl || "https://bessa.dev",
  keywords: seo.keywords || "front-end developer",
};
---

<>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="index, follow" />

  <title>{seoData.title}</title>
  <meta name="description" content={seoData.description} />
  <link rel="canonical" href={`${siteUrl}/${seoData.slug}`} />

  {/* Open Graph / Social Media */}
  <meta property="og:title" content={seoData.title} />
  <meta property="og:description" content={seoData.description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={`${siteUrl}/${seoData.slug}`} />
  <meta property="og:site_name" content="Bessa Studio" />

  {/* Large OG Image (for general use) */}
  <meta property="og:image" content={seoData.imageLg} />
  <meta property="og:image:alt" content={seoData.description} />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  {/* Twitter */}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={seo.title} />
  <meta name="twitter:description" content={seo.description} />
  <meta name="twitter:image" content={seo.imageLg} />
  <meta name="twitter:image:alt" content={seo.description} />
  <slot />
</>
