---
import MyPortableText from "./portable-text/MyPortableText.astro";
import { urlFor } from "../sanity/lib/image";
const { image, company, date, position, description } = Astro.props;
---

<div class="grid grid-cols-8 gap-y-4 sm:grid-cols-12 sm:gap-x-4">
  <div class="col-start-1">
    <img
      class="rounded w-12 sm:w-26 aspect-square"
      src={urlFor(image)}
      alt={image.alt}
    />
  </div>
  <div class="col-start-2 ml-4 sm:ml-0 col-span-full self-center">
    <h3>{company}</h3>
    <span>{date}</span>
  </div>
  <div class="space-y-2 col-span-full sm:col-start-2">
    <MyPortableText content={description} />
  </div>
</div>
