---
import Layout from "../../layouts/Layout.astro";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import MyPortableText from "../../components/portable-text/MyPortableText.astro";
import { urlFor } from "../../sanity/lib/image";
import { generateTOC } from "../../js/toc"; // Import TOC utility

// GROQ Query
export async function getStaticPaths() {
  const { data: projects } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "project"]`,
  });

  return projects.map(({ slug }) => ({
    params: { slug: slug.current },
  }));
}

const { params } = Astro;

// Fetch Project Data
const { data: project } = await loadQuery({
  query: `*[_type == "project" && slug.current == $slug][0]`,
  params,
});

// Generate TOC from `project.body`
const toc = generateTOC(project.body);
console.log(project.body);
---

<Layout>
  <section>
    <!-- Image Section -->
    <div class="pt-14">
      <img
        class="max-h-[50vh] w-full object-cover"
        src={urlFor(project.mainImage)}
        alt={project.title}
      />

      <!-- Header Section -->
      <div class="flex pt-4">
        <div class="w-2/3">
          <h1 class="text-2xl text-body-lighter">{project.tagLine}</h1>
          <h2 class="text-8xl">{project.title}</h2>
          <div class="max-w-lg pt-4">
            <MyPortableText content={project.projectOverview?.body} />
          </div>
        </div>
        <div class="w-1/3">
          <ul class="list-container">
            {
              project.projectOverview?.details?.map((detail) => (
                <li>
                  <span>{detail} </span>
                  <span class="text-body-lighter">web development</span>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="max-w-line-length-optimal">
        <MyPortableText content={project.body} />
      </div><aside>
        <nav>
          <h2>Table of Contents</h2>
          <ul>
            {
              toc.map(({ text, id }) => (
                <li>
                  <a href={`#${id}`}>{text}</a>
                </li>
              ))
            }
          </ul>
        </nav>
      </aside>
    </div>
  </section>
</Layout>
