---
import Layout from "../../layouts/Layout.astro";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import MyPortableText from "../../components/portable-text/MyPortableText";
import MyPortableTextWithTOC from "../../components/portable-text/MyPortableTextWithTOC.astro";
import { urlFor } from "../../sanity/lib/image";
import { generateTOC } from "../../js/toc";
import TwoItemsList from "../../components/TwoItemsList.astro";
import AllProjectsList from "../../components/AllProjectsList.astro";
import Chip from "../../components/Chip.astro";

interface TechStackItem {
  name: string;
  icon?: string;
}

interface ProjectOverview {
  body: any;
  techStack: TechStackItem[];
}

interface Project extends SanityDocument {
  title: string;
  tagLine: string;
  mainImage: any;
  body: any;
  projectOverview: ProjectOverview;
  slug: { current: string };
}

// GROQ query for static paths
export async function getStaticPaths() {
  const { data: projects } = await loadQuery<Project[]>({
    query: `*[_type == "project"]`,
  });

  return projects.map(({ slug }) => ({
    params: { slug: slug.current },
  }));
}

const { params } = Astro;

// Fetch project data
const { data: project } = await loadQuery<Project>({
  query: `*[_type == "project" && slug.current == $slug][0]`,
  params,
});

// Fetch all projects for listing
const { data: allProjects } = await loadQuery<Project[]>({
  query: `*[_type == "project" && slug.current != $currentSlug]`,
  params: { currentSlug: project.slug.current },
});

// Generate TOC from `project.body`
const toc = generateTOC(project.body);
---

<Layout seo={project.seo}>
  <article class="max-w-xl mx-auto pt-20">
    <section class="space-y-8 pb-10">
      <img
        class="max-h-[45vh] w-full object-cover"
        src={urlFor(project.mainImage)}
        alt={project.title}
      />
      <h1 class="text-xl md:text-2xl">
        {project.tagLine}
      </h1>
      <div class="space-y-4">
        <h2 class="text-accent-primary dark:text-accent-primary">
          {project.title}
        </h2>
        <MyPortableText content={project.projectOverview?.body} />
      </div>
    </section>
    <section class="space-y-4 pb-14">
      <h2>Technologies used</h2>
      <TwoItemsList listItems={project.projectOverview.techStack} />
    </section>
    <section class="flex flex-col-reverse lg:flex-row gap-10 relative">
      <div class="max-w-[50em]">
        <MyPortableTextWithTOC content={project.body} />
      </div>
    </section>
  </article>
  <section class="max-w-xl mx-auto pt-10 md:pt-10 space-y-2">
    <h2>More projects</h2>
    <AllProjectsList listItems={allProjects} />
  </section>
</Layout>

<!-- <aside
        class="border-2 border-primary self-start min-w-80 lg:sticky top-16 p-5"
      >
        <nav>
          <h2 class="pb-2">Table of Contents</h2>
          <ul class="list-disc list-inside">
            {
              toc.map(({ text, id }) => (
                <li>
                  <a href={`#${id}`}>{text}</a>
                </li>
              ))
            }
          </ul>
        </nav>
      </aside> -->
